<template name="login">
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-6 columns">
<h7> Please Login to the System</h7>
<form class="login">  
<hr/>  
<label>Your Username
<input name ="username" type="text" required/>
</label>
  
<label>Password 
<input name ="password" type="password" required/>
</label>  

<button type="submit" class="button radius" value="login">Log In</button>   
</form>
</div>
</div>
</div>
</div>
</div>
</template>  