<template name="completedErrors">
<div class="row">
<div class="large-5 columns">
<div class="panel">
<h7> <a href="/home">Live Errors({{liveErrorCount}})</a></h7>
</div>
</div>
</div>
<div class="row">
<div class="large-12 columns">  
<div class="panel">
<table class="errors">
<!-- <tr> -->
<th style="color:white"> Error </th>
<th style="color:white"> Date Time Completed </th>
<th style="color:white"> Completed By </th>
<!-- </tr> -->
{{#each completedErrors}}  
<tr class="CompletedErrors" id="completedError">
<td>{{errorName}}</td>
<td>{{completedDateTime}}</td>
<td>{{completedBy}}</td> 
</tr>
{{/each}}  
</table>
</div>
</div>
</div>
</template>