<template name="home">
<div class="row">
<div class="large-5 columns">
<div class="panel">
<h7> <a href="/completedErrors">Completed Errors ({{completedErrorTotal}})</a></h7>
</div>
</div>
</div>
<div class="row">
<div class="large-12 columns">  
<div class="panel">
<table class="errors">
<!-- <tr> -->
<th style="color:white"> Error </th>
<th style="color:white"> Date Time Added </th>
<th style="color:white"> Product </th>
<th style="color:white"> Status </th>
<th style="color:white"> Last Modified By </th>
<!-- </tr> -->
{{#each errors}}  
<tr class="errors" id="error">
<td>{{error}}</td>
<td>{{dateAdded}}</td>
<td>{{product}}</td>
<td><select id="error-status">
<option>{{status}}</option>
<option value="assigned">Assigned</option>
<option value="workInProgress">Work In Progress</option>
<option value="onHold">On Hold - Waiting For Customer</option>
<option value="completed">Completed</option>
</select></td>
<td>{{username}}</td>  
</tr>
{{/each}}  
</table>
</div>
</div>
</div>
</template>