nav.top-bar, button.radius, li {
  background-color: #1D77EF;
}

th {
  height: 25px;
  background-color: #1D77EF;
  text-align: left;
  padding-left: 10px;
}

table {
    width: 100%;
}

input.error{
    background-color:rgb(255, 231, 231);
}