<template name="main">
<body>
<div class="row">
<div class="large-12 columns">
<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
<ul class="title-area">
<li class="name">
<h1><a href="#">Replica ARP Support Application System</a></h1>
</li> 
<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>
{{#if currentUser}}  
<ul class="right">
<li class="divider"></li>
<li style="color:white">{{currentUser.username}}</li>
<p style="color:white">Log Out</p>  
</ul>
{{/if}}  
</nav>
</div>
{{> yield}} 
</div>
</div>
</body>
</template>